# CSV2VCF_v2

In [174]:
# Requeritments:
# 1) The first column must contain Gene_symbol
# If your csv file doesnt have gene name or Gene_symbol
# That is fine, in the report document, you will be inform that the gene_symbol
# of your variant are wrong but the convertion will be perform anyway

# 2) The second column must contain the coordinates of your variants like this (3:987654321)
# Call this column hg19 if your are working with this building or
# call this column hg38 if your are working with the hg38 building

# 3) Third column must contain your variand ID
# Variant

In [1]:
# Let's import all modules used in this script:
# The next 19 lines imports the modules needed, if some module is not installed, a exception will installed the
# package(s) and it will import the module(s).
# This has been tested. When execute the script in new envs, this works
modules = ['imp','sys', 'requests', 'chardet', 'json', 'pandas', 'numpy', 're','httplib2', 'liftover']

import os
import subprocess

for library in modules:
    try:
        exec("import {module}".format(module=library))
    except:
        subprocess.call(['pip', 'install', library])
import pandas as pd
import numpy as np
from liftover import get_lifter
from liftover import ChainFile
from datetime import date

# For a reason I can't explain, requests module did not work sometimes when testing our script in a new envs
# To avoid this, this is imported again.
import requests

In [44]:
# The ultimate goal of this programme is to be executable without any interection with the terminal
# owing to, the motivation of this programme is to create a programme 
# to be used by users without strong bioinformatic background.
# To achieve this, the script will be in a folder called CSP2VCF. 
# In this folder will contain the script and 2 folders, one called input and a second called output.
# Idealy, the user only have to put the input file (a CSV file) in input folder
# and get the output in the output folder.
# The next lines allow this in any location of the user's computer
 
# This read the file located in the folder input
actual_path = os.getcwd()
folder_input = '/input/'
input_file_name = os.listdir(actual_path+folder_input)
input_file_name= ''.join(input_file_name)
CSV_input = actual_path+folder_input+input_file_name

In [45]:
# This is to avoid UnicodeDecodeError: 'utf-8'
# If the excel document is saved as CSV, not utf-8 errors should occur
# However, if the user doesn't do this, and some special characters are found in the input
# This partially avoids the issue.
with open(CSV_input, 'rb') as f:
    result = chardet.detect(f.read())

In [83]:
# Now, we can read and convert the input in a panda df
df_input = pd.read_csv(CSV_input, encoding=result['encoding'])

# For future manipulation, we will need two copies of the input
df_draft = df

# Let's obtain the coordinates of  the varfiant in both buildings

# Because we don't know which buildind the user will use
# One requeritment will be to specifify the name of the second column 
# as hg38 or hg19
# so that we can generate the coordinates of both buidilng now

if df.columns[1] == 'hg38':
    # I  need to  convert the coordinates to hg19
    # Let's get the coordinates from the input file  
    df["chro"] = df["hg38"].apply(lambda x: x.split(":")[0])
    df["location_hg38"] = df["hg38"].apply(lambda x: x.split(":")[1])
    df['location_hg38'] = df['location_hg38'].apply(pd.to_numeric)
    Chrom2Pos_hg19 = dict()
    converter = get_lifter('hg38', 'hg19')
    df['chro_N'] = ''
    df['location_hg19'] = ''
    for index, chro,location_hg38 in zip(df.index,df.chro, df.location_hg38): 
        df.loc[index, ['chro_N']] = [converter.query(chro, location_hg38)[0][0]]
        df.loc[index, ['location_hg19']] = [converter.query(chro, location_hg38)[0][1]]
else:
    #The opposite
    df["chro"] = df["hg19"].apply(lambda x: x.split(":")[0])
    df["location_hg19"] = df["hg19"].apply(lambda x: x.split(":")[1])
    df['location_hg19'] = df['location_hg19'].apply(pd.to_numeric)
    Chrom2Pos_hg19 = dict()
    converter = get_lifter('hg19', 'hg38')
    df['chro_N'] = ''
    df['location_hg38'] = ''
    for index, chro,location_hg19 in zip(df.index,df.chro, df.location_hg19): 
        df.loc[index, ['chro_N']] = [converter.query(chro, location_hg19)[0][0]]
        df.loc[index, ['location_hg38']] = [converter.query(chro, location_hg19)[0][1]]


df

,Gene,hg38,Transcript,Quality,Filter,chro,location_hg38,chro_N,location_hg19
0,IMPG2,3:101232831,NM_016247.3:c.3183C>G,34/64,PASS,3,101232831,chr3,100951675
1,BRCA1,17:43067616,NM_007294.3:c.5066T>C,49/131,PASS,17,43067616,chr17,41219633
2,FBN1,15:48600225,NM_000138.4:c.356G>A,46/99,PASS,15,48600225,chr15,48892422
3,MYH7,14:23426833,NM_000257.3:c.1988G>A,8/102,NO PASS,14,23426833,chr14,23896042
4,BORIS,9:133256042,rs56116432,1/200,NO PASS,9,133256042,chr9,136131429
5,TNNI1,1:201418478,chr1:g.201387606_201387614delAAAAAAAA,99/100,PASS,1,201418478,chr1,201387606
6,HLA-C,6:31271394,NM_002117.5:c.344-46_344-45insT,34/64,PASS,6,31271394,chr6,31239171
7,HLA-C,6:31271394,NM_002117.5:c.344XX-46_344-45insT,34/64,PASS,6,31271394,chr6,31239171
8,HLA-C,6:31271394,rs9281300,34/64,PASS,6,31271394,chr6,31239171
9,LPL,8:19956018,NM_000237.2:c.953A>G,34/64,PASS,8,19956018,chr8,19813529
10,TSC2,16:2088197,rs1799758,34/64,PASS,16,2088197,chr16,2138198

In [47]:
# I will need the ref and the alt to request the API
df['ref:c.'] = ''
df['alt:c.'] = ''
for idx, value in df.iloc[:,2].iteritems():
    if ':c.' in value and ">" in value:
        df.loc[idx, ['ref:c.']] = list(value.split(">")[0])[-1]
        df.loc[idx, ['alt:c.']] = value.split(">")[1]
        df['ref:g.'] = df['ref:c.'].replace({"C": "G", "G": "C", "A":"T", "T":"A"})
        df['alt:g.'] = df['alt:c.'].replace({"C": "G", "G": "C", "A":"T", "T":"A"})
        
    if ':g.' in value and ">" in value:
        df.loc[idx, ['ref:g.']] = list(value.split(">")[0])[-1]
        df.loc[idx, ['alt:g.']] = value.split(">")[1]
        df['ref:c.'] = df['ref:g.'].replace({"C": "G", "G": "C", "A":"T", "T":"A"})
        df['alt:c.'] = df['alt:g.'].replace({"C": "G", "G": "C", "A":"T", "T":"A"})
df

,Gene,hg38,Transcript,Quality,Filter,chro,location_hg38,chro_N,location_hg19,ref:c.,alt:c.,ref:g.,alt:g.
0,IMPG2,3:101232831,NM_016247.3:c.3183C>G,34/64,PASS,3,101232831,chr3,100951675,C,G,G,C
1,BRCA1,17:43067616,NM_007294.3:c.5066T>C,49/131,PASS,17,43067616,chr17,41219633,T,C,A,G
2,FBN1,15:48600225,NM_000138.4:c.356G>A,46/99,PASS,15,48600225,chr15,48892422,G,A,C,T
3,MYH7,14:23426833,NM_000257.3:c.1988G>A,8/102,NO PASS,14,23426833,chr14,23896042,G,A,C,T
4,BORIS,9:133256042,rs56116432,1/200,NO PASS,9,133256042,chr9,136131429,,,,
5,TNNI1,1:201418478,chr1:g.201387606_201387614delAAAAAAAA,99/100,PASS,1,201418478,chr1,201387606,,,,
6,HLA-C,6:31271394,NM_002117.5:c.344-46_344-45insT,34/64,PASS,6,31271394,chr6,31239171,,,,
7,HLA-C,6:31271394,NM_002117.5:c.344XX-46_344-45insT,34/64,PASS,6,31271394,chr6,31239171,,,,
8,HLA-C,6:31271394,rs9281300,34/64,PASS,6,31271394,chr6,31239171,,,,
9,LPL,8:19956018,NM_000237.2:c.953A>G,34/64,PASS,8,19956018,chr8,19813529,A,G,T,C
10,TSC2,16:2088197,rs1799758,34/64,PASS,16,2088197,chr16,2138198,,,,

In [80]:
# I will also need the location of del and ins

df['ins'] = ''
df['insertion:g'] = ''
for idx, value in df.iloc[:,2].iteritems():
    if 'ins' in value:
        df.loc[idx, ['ins']] = len(list(value.split("ins")[1]))
        df.loc[idx, ['insertion:g']] = 'ins' + df.iloc[idx,[2]].apply(lambda x: x.split("ins")[1])[0]
        #df.loc[idx, ['insertion:g']] = df.loc[idx, ['insertion:g']].str.replace({"C": "G", "G": "C", "A":"T", "T":"A"})
    else:
        df.loc[idx, ['ins']] = 0
df['del'] = ''
df['deletion'] = ''
for idx, value in df.iloc[:,2].iteritems():
    if 'del' in value:
        df.loc[idx, ['del']] = len(list(value.split("del")[1]))
        df.loc[idx, ['deletion']] = 'del' + df.iloc[idx,[2]].apply(lambda x: x.split("del")[1])[0]
    else:
        df.loc[idx, ['del']] = 0
        
df['sum_ins'] = df['location_hg19'].astype(int) + df['ins'].astype(int)
df['sum_del'] = df['location_hg19'].astype(int) + df['del'].astype(int)

df['sum_ins'] = df['sum_ins'].astype(str)
df['sum_del'] = df['sum_del'].astype(str)
df['location_hg19'] = df['location_hg19'].astype(str)
df['location_ins'] =  df[['location_hg19', 'sum_ins']].agg('_'.join, axis=1)
df['location_del'] =  df[['location_hg19', 'sum_del']].agg('_'.join, axis=1)

df

,Gene,hg38,Transcript,Quality,Filter,chro,location_hg38,chro_N,location_hg19,ref:c.,...,deletion,sum_ins,sum_del,location_ins,location_del,API_REF,API_ALT,API_GENE_SYM,API_LOCATION,insertion:g
0,IMPG2,3:101232831,NM_016247.3:c.3183C>G,34/64,PASS,3,101232831,chr3,100951675,C,...,,100951675,100951675,100951675_100951675,100951675_100951675,,,,,
1,BRCA1,17:43067616,NM_007294.3:c.5066T>C,49/131,PASS,17,43067616,chr17,41219633,T,...,,41219633,41219633,41219633_41219633,41219633_41219633,,,,,
2,FBN1,15:48600225,NM_000138.4:c.356G>A,46/99,PASS,15,48600225,chr15,48892422,G,...,,48892422,48892422,48892422_48892422,48892422_48892422,,,,,
3,MYH7,14:23426833,NM_000257.3:c.1988G>A,8/102,NO PASS,14,23426833,chr14,23896042,G,...,,23896042,23896042,23896042_23896042,23896042_23896042,,,,,
4,BORIS,9:133256042,rs56116432,1/200,NO PASS,9,133256042,chr9,136131429,,...,,136131429,136131429,136131429_136131429,136131429_136131429,,,,,
5,TNNI1,1:201418478,chr1:g.201387606_201387614delAAAAAAAA,99/100,PASS,1,201418478,chr1,201387606,,...,delAAAAAAAA,201387606,201387614,201387606_201387606,201387606_201387614,,,,,
6,HLA-C,6:31271394,NM_002117.5:c.344-46_344-45insT,34/64,PASS,6,31271394,chr6,31239171,,...,,31239172,31239171,31239171_31239172,31239171_31239171,,,,,insT
7,HLA-C,6:31271394,NM_002117.5:c.344XX-46_344-45insT,34/64,PASS,6,31271394,chr6,31239171,,...,,31239172,31239171,31239171_31239172,31239171_31239171,,,,,insT
8,HLA-C,6:31271394,rs9281300,34/64,PASS,6,31271394,chr6,31239171,,...,,31239171,31239171,31239171_31239171,31239171_31239171,,,,,
9,LPL,8:19956018,NM_000237.2:c.953A>G,34/64,PASS,8,19956018,chr8,19813529,A,...,,19813529,19813529,19813529_19813529,19813529_19813529,,,,,
10,TSC2,16:2088197,rs1799758,34/64,PASS,16,2088197,chr16,2138198,,...,,2138198,2138198,2138198_2138198,2138198_2138198,,,,,

In [49]:
# I am going to create the columns where I am going to store the info I want from the API
df['API_REF'] = ''
df['API_ALT'] = ''
df['API_GENE_SYM'] = ''
df['API_LOCATION'] = ''

In [413]:
• Insertion example:chr2:g.17142_17143insA
Deletion example:chrMT:g.8271_8279del

SyntaxError: invalid character in identifier (<ipython-input-413-c53901f97331>, line 1)

In [50]:
df_draft = df_draft.applymap(str)
rs = df_draft[df_draft.apply(lambda x:x.str.contains("rs\d+"))].dropna(how='all').dropna(axis=1, how='all')
if rs.empty == False:
    ind = rs.index.to_list()
    vals = list(rs.stack().values)
    row2rs = dict(zip(ind, vals))
    # I have seen occasionally how users save more than one variant ID in the same row. 
    # To avoid repetition, I delete the row
    for index, rs  in row2rs.items(): 
        # This will be done in df_draft
        df_draft = df_draft.drop(index)


# Second kind of variant ID is insertion
insertion = df_draft[df_draft.apply(lambda x:x.str.contains("ins"))].dropna(how='all').dropna(axis=1, how='all')
if insertion.empty == False:
    ind = insertion.index.to_list()
    vals = list(insertion.stack().values)
    row2insertion = dict(zip(ind, vals))
    for index, insertion  in row2insertion.items(): 
        df_draft = df_draft.drop(index)


# Third  kind of variant ID is deletion
deletion = df_draft[df_draft.apply(lambda x:x.str.contains("del"))].dropna(how='all').dropna(axis=1, how='all')
if deletion.empty == False:
    ind = deletion.index.to_list()
    vals = list(deletion.stack().values)
    row2deletion = dict(zip(ind, vals))
    for index, deletion  in row2deletion.items(): 
        df_draft = df_draft.drop(index)


subtitution = df_draft[df_draft.apply(lambda x:x.str.contains(">"))].dropna(how='all').dropna(axis=1, how='all')
if subtitution.empty == False:
    ind = subtitution.index.to_list()
    vals = list(subtitution.stack().values)
    row2subtitution = dict(zip(ind, vals))
    for index, subtitution  in row2subtitution.items(): 
        df_draft = df_draft.drop(index)

In [51]:
######################################
##### Its time for requesting API#####
######################################

#### If the Variant ID is dbnsp RS123 ####

row2gene_symbol = dict()
row2CHROM = dict()
row2POS = dict()
row2ALT = dict()
row2REF = dict()


server = "http://myvariant.info/v1/query?q="


for row, rs in row2rs.items():
    # Request API here
    r = requests.get(server+rs)
    if not r.ok:
        r.raise_for_status()
        sys.exit()
    decoded = r.json()
    # We select the info we want and store it in dict
    
    # For row2gene_symbol
    row2gene_symbol[row]= decoded['hits'][0]['dbsnp']['gene']['symbol']

    # For row2CHROM
    row2CHROM[row] = decoded['hits'][0]['chrom']
    
    # For row2POS 
    row2POS[row] = decoded['hits'][0]['vcf']['position']
    
    # For row2ALT 
    row2ALT[row] = decoded['hits'][0]['vcf']['alt']
    
    # For row2REF
    row2REF[row] = decoded['hits'][0]['vcf']['ref']
        
# Next idea, to provide the citations

In [52]:
#### If the Variant ID is a SUBSTITUTION ####
g = ':g.'
R_S_A = '>'
server = 'http://myvariant.info/v1/variant/'
for idx, value in df.iloc[:,2].iteritems():
    if ':c.' in value and ">" in value:
        API_input = server + df.loc[idx, ['chro_N']][0] + g + df.loc[idx, ['location_hg19']][0] + df.loc[idx, ['ref:g.']][0] + R_S_A + df.loc[idx, ['alt:g.']][0]
        r = requests.get(API_input)
        if r.status_code == 200:
            decoded = r.json()
            row2gene_symbol[idx]= decoded['cadd']['gene']['genename']
            row2ALT[idx] = decoded['vcf']['alt']
            row2REF[idx] = decoded['vcf']['ref']
            row2POS[idx] = decoded['vcf']['position']
        else:
            row2gene_symbol[idx] = "Variant not found in API"
            row2ALT[idx] = "Variant not found in API"
            row2REF[idx] = "Variant not found in API"
            row2POS[idx] = "Variant not found in API"

In [67]:
#### If the Variant ID is a DELETION ####

for idx, value in df.iloc[:,2].iteritems():
    if 'del' in value :
        
        API_input = server + df.loc[idx, ['chro_N']][0] + g + df.loc[idx, ['location_del']][0] + 'del'
        r = requests.get(API_input)
        if r.status_code == 200:
            decoded = r.json()
            row2gene_symbol[idx]= decoded['dbsnp']['gene']['symbol']
            row2ALT[idx] = decoded['vcf']['alt']
            row2REF[idx] = decoded['vcf']['ref']
            row2POS[idx] = decoded['vcf']['position']
        else:
            print(API_input)
            row2gene_symbol[idx] = "Variant not found in API"
            row2ALT[idx] = "Variant not found in API"
            row2REF[idx] = "Variant not found in API"
            row2POS[idx] = "Variant not found in API"

In [73]:
#### If the Variant ID is a INSERTION ####

for idx, value in df.iloc[:,2].iteritems():
    if 'ins' in value :
        
        API_input = server + df.loc[idx, ['chro_N']][0] + g + df.loc[idx, ['location_ins']][0] + 'ins'
        r = requests.get(API_input)
        if r.status_code == 200:
            decoded = r.json()
            row2gene_symbol[idx]= decoded['dbsnp']['gene']['symbol']
            row2ALT[idx] = decoded['vcf']['alt']
            row2REF[idx] = decoded['vcf']['ref']
            row2POS[idx] = decoded['vcf']['position']
        else:
            print(API_input)
            row2gene_symbol[idx] = "Variant not found in API"
            row2ALT[idx] = "Variant not found in API"
            row2REF[idx] = "Variant not found in API"
            row2POS[idx] = "Variant not found in API"

http://myvariant.info/v1/variant/chr6:g.31239171_31239172ins
http://myvariant.info/v1/variant/chr6:g.31239171_31239172ins

In [72]:
df.loc[idx, ['chro_N']][0] + g + df.loc[idx, ['location_ins']][0] + 'ins'

'chr16:g.2138198_2138198ins'

In [75]:
df.columns()

TypeError: 'Index' object is not callable

In [137]:
chr2:g.17142_17143insA
# If the variant ID is dbsnp (i.e. rs00001)
# The only thing I have to do is to request this variant ID directly in My.variant API

row2gene_symbol = dict()
row2CHROM = dict()
row2POS = dict()
row2ALT = dict()
row2REF = dict()


server = "http://myvariant.info/v1/query?q="


for row, rs in row2rs.items():
    # Request API here
    r = requests.get(server+rs)
    if not r.ok:
        r.raise_for_status()
        sys.exit()
    decoded = r.json()
    # We select the info we want and store it in dict
    
    # For row2gene_symbol
    row2gene_symbol[row]= decoded['hits'][0]['dbsnp']['gene']['symbol']

    # For row2CHROM
    row2CHROM[row] = decoded['hits'][0]['chrom']
    
    # For row2POS 
    row2POS[row] = decoded['hits'][0]['vcf']['position']
    
    # For row2ALT 
    row2ALT[row] = decoded['hits'][0]['vcf']['alt']
    
    # For row2REF
    row2REF[row] = decoded['hits'][0]['vcf']['ref']
        
# Next idea, to provide the citations

{4: '136131429', 9: '31239170', 11: '2138199'}

In [108]:
# Now, we do the same with other kind of variant IDs
# With the dbSNP variant ID was very easy
# however with other ID things become more complicated
# I still want to used my.variant API
# This API so far only works with hg19
# That means that we need to convert the location if the user use hg38.
# I want to be ask the user which genome building is going to use.
# To know in which genomic construction the user is working, 
# we will ask  him/her (in requeritments) to change the name of the second column.
# to "hg19" or "hg38"
df

     Gene         hg38                         Transcript Quality   Filter
0   IMPG2  3:101232831              NM_016247.3:c.3183C>G   34/64     PASS
1   BRCA1  17:43067616              NM_007294.3:c.5066T>C  49/131     PASS
2    FBN1  15:48600225               NM_000138.4:c.356G>A   46/99     PASS
3    MYH7  14:23426833              NM_000257.3:c.1988G>A   8/102  NO PASS
4   BORIS  9:133256042                         rs56116432   1/200  NO PASS
5    CFTR  7:117199558  ENST00000003084:c.1431_1433delTTC  99/100     PASS
6    CFTR  7:117559502  ENST00000003084:c.1431_1433delTTC  99/100     PASS
7   HLA-C   6:31271394    NM_002117.5:c.344-46_344-45insT   34/64     PASS
8   HLA-C   6:31271394  NM_002117.5:c.344XX-46_344-45insT   34/64     PASS
9   HLA-C   6:31271394                          rs9281300   34/64     PASS
10    LPL   8:19956018               NM_000237.2:c.953A>G   34/64     PASS
11   TSC2   16:2088197                          rs1799758   34/64     PASS

In [109]:
if df.columns[1] == 'hg38':
    # I  need to  convert the coordinates to hg19
    # Let's get the coordinates from the input file  
    df["chro"] = df["hg38"].apply(lambda x: x.split(":")[0])
    df["location_hg38"] = df["hg38"].apply(lambda x: x.split(":")[1])
    df['location_hg38'] = df['location_hg38'].apply(pd.to_numeric)
    converter = get_lifter('hg38', 'hg19')
    Chrom2Pos_hg19 = dict()
    Chrom2Pos_hg38 = dict(zip(df.chro, df.location_hg38))
    for index, chro,location_hg38 in zip(df.index,df.chro, df.location_hg38): 
        Chrom = chro
        pos = location_hg38
        Chrom2Pos_hg19[converter.query(chro, location_hg38)[0][0]]= converter.query(chro, location_hg38)[0][1] 
df[['chro_N','location_hg_19']] = pd.DataFrame(list(Chrom2Pos_hg19.items()))
df
#for_test2 = pd.DataFrame(list(Chrom2Pos_hg19.items()),columns = ['CHROM','POS'])

# Now we do and save the convertion 
#for Chrom,Pos in Chrom2Pos_hg38.items():
#    chrom = Chrom
#    pos = Pos
#    converter[chrom][pos]
#    Chrom2Pos_hg19[converter.query(chrom, pos)[0][0]]= converter.query(chrom, pos)[0][1] 
#    Chrom2Pos_hg38 = dict(zip(for_test.CHROM, for_test.POS))

,Gene,hg38,Transcript,Quality,Filter,chro,location_hg38,chro_N,location_hg_19
0,IMPG2,3:101232831,NM_016247.3:c.3183C>G,34/64,PASS,3,101232831,chr3,100951675.0
1,BRCA1,17:43067616,NM_007294.3:c.5066T>C,49/131,PASS,17,43067616,chr17,41219633.0
2,FBN1,15:48600225,NM_000138.4:c.356G>A,46/99,PASS,15,48600225,chr15,48892422.0
3,MYH7,14:23426833,NM_000257.3:c.1988G>A,8/102,NO PASS,14,23426833,chr14,23896042.0
4,BORIS,9:133256042,rs56116432,1/200,NO PASS,9,133256042,chr9,136131429.0
5,CFTR,7:117199558,ENST00000003084:c.1431_1433delTTC,99/100,PASS,7,117199558,chr7,117199556.0
6,CFTR,7:117559502,ENST00000003084:c.1431_1433delTTC,99/100,PASS,7,117559502,chr6,31239171.0
7,HLA-C,6:31271394,NM_002117.5:c.344-46_344-45insT,34/64,PASS,6,31271394,chr8,19813529.0
8,HLA-C,6:31271394,NM_002117.5:c.344XX-46_344-45insT,34/64,PASS,6,31271394,chr16,2138198.0
9,HLA-C,6:31271394,rs9281300,34/64,PASS,6,31271394,NaN,NaN
10,LPL,8:19956018,NM_000237.2:c.953A>G,34/64,PASS,8,19956018,NaN,NaN
11,TSC2,16:2088197,rs1799758,34/64,PASS,16,2088197,NaN,NaN

In [110]:
server = 'http://myvariant.info/v1/variant/'

for index, chro_N,location_hg_19 in zip(df.index,df.chro_N, df.location_hg_19): 
    
    # Request API here
    r = requests.get(server+str(chro_N)+':g.'+str(location_hg_19)+)
    
    decoded = r.json()
    # We select the info we want and store it in dict
    
    # For row2gene_symbol
    row2gene_symbol[index]= decoded['hits'][0]['dbsnp']['gene']['symbol']

    # For row2CHROM
    #row2CHROM[index] = decoded['hits'][0]['chrom']
    
    # For row2POS 
    #row2POS[index] = decoded['hits'][0]['vcf']['position']
    
    # For row2ALT 
    #row2ALT[index] = decoded['hits'][0]['vcf']['alt']
    
    # For row2REF
    #row2REF[index] = decoded['hits'][0]['vcf']['ref']

SyntaxError: invalid syntax (<ipython-input-110-9635685d0714>, line 6)

In [192]:
server+str(chro_N)+str(location_hg_19)

'http://myvariant.info/v1/variant/chr3100951675'

In [191]:
decoded

{'code': 404, 'success': False, 'error': "ID 'chr3100951675' not found"}

In [ ]:
http://myvariant.info/v1/variant/chr1:g.35367G>A

In [193]:
df

,Gene,hg38,Transcript,Quality,Filter,chro,location_hg38,chro_N,location_hg_19
0,IMPG2,3:101232831,NM_016247.3:c.3183C>G,34/64,PASS,3,101232831,chr3,100951675
1,BRCA1,17:43067616,NM_007294.3:c.5066T>C,49/131,PASS,17,43067616,chr17,41219633
2,FBN1,15:48600225,NM_000138.4:c.356G>A,46/99,PASS,15,48600225,chr15,48892422
3,MYH7,14:23426833,NM_000257.3:c.1988G>A,8/102,NO PASS,14,23426833,chr14,23896042
4,BORIS,9:133256042,rs56116432,1/200,NO PASS,9,133256042,chr9,136131429
5,CFTR,7:117199558,ENST00000003084:c.1431_1433delTTC,99/100,PASS,7,117199558,chr7,116839612
6,CFTR,7:117559502,ENST00000003084:c.1431_1433delTTC,99/100,PASS,7,117559502,chr7,117199556
7,HLA-C,6:31271394,NM_002117.5:c.344-46_344-45insT,34/64,PASS,6,31271394,chr6,31239171
8,HLA-C,6:31271394,NM_002117.5:c.344XX-46_344-45insT,34/64,PASS,6,31271394,chr6,31239171
9,HLA-C,6:31271394,rs9281300,34/64,PASS,6,31271394,chr6,31239171
10,LPL,8:19956018,NM_000237.2:c.953A>G,34/64,PASS,8,19956018,chr8,19813529
11,TSC2,16:2088197,rs1799758,34/64,PASS,16,2088197,chr16,2138198

In [205]:
import random

inp = [{'c1':10, 'c2':100}, {'c1':11,'c2':110}, {'c1':12,'c2':120}]
df = pd.DataFrame(inp)

df['newColumn'] = ""
yourCondition = True
for i in range(len(df)):
    # put your condition here
    if (yourCondition):
        # now you can update what you want
        df['newColumn'].values[i] = random.randint(0,9)

print(df)

   c1   c2 newColumn
0  10  100         5
1  11  110         3
2  12  120         5

In [172]:
# First, let identify what column contains the Variant ID

#df['rs'] = df.astype(str).applymap(lambda x: 'rs' in x).any(1)
#df['del'] = df.astype(str).applymap(lambda x: 'del' in x).any(1)
#df['ins'] = df.astype(str).applymap(lambda x: 'ins' in x).any(1)
#df['>'] = df.astype(str).applymap(lambda x: '>' in x).any(1)
#df['<'] = df.astype(str).applymap(lambda x: '<' in x).any(1)

#df['type']=''
#df.loc[df['rs'] == True, 'type'] = 'dbsnp'
#df.loc[df['del'] == True, 'type'] = 'deletion'
#df.loc[df['ins'] == True, 'type'] = 'insertion'
#df.loc[df['>'] == True, 'type'] = 'substitution'
#df.loc[df['<'] == True, 'type'] = 'substitution'
for index, value in df:
    print(index)
   # if df.iloc[index,2].str.contains(">"):
     #   print(value)
#df["alt"] = df.iloc[:,2].apply(lambda x: x.split(">")[0])
#df
#df[df['A'].str.contains("hello")]
#df.iloc[:,2]

ValueError: too many values to unpack (expected 2)